@import "./styles/main.scss";


#header {
    display: flex;
    justify-content: space-around;
}

#title {
    color: red($color: #000000);
    background-color: rgb(154, 180, 60);
    width: 800px;
    height: 100px;
    font-family: cursive;
    font-size: 80px;
    justify-content: flex-end;
}

#links {
    height: 50px;
    width: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.wrapper {
    width: 240px;
    padding: 12px;

    h1 {
        font-size: 22px;
        margin: 0 0 20px 0;
        display: flex;
        justify-content: center;
    }
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    label {
        color: purple;
        // color: #ccc;
        flex-grow: 1;
    }

    span {
        color: green;
    }
}

#body {
    display: flex;
    justify-content: space-around;
    background-color: lavender;
}
