@import "./styles/main.scss";
#test {
    color: red($color: #000000);
}

.wrapper {
    width: 240px;
    padding: 12px;

    h1 {
        font-size: 18px;
        margin: 0 0 20px 0;
        display: flex;
        justify-content: center;
    }
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    label {
        color: purple;
        // color: #ccc;
        flex-grow: 1;
    }

    span {
        color: green;
    }
}

#body {
    display: flex;
}
