

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 400px;
    letter-spacing: 0.1rem;
}


#map-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#buttons {
    background-color: pink;
    display: flex;
    justify-content: center;
}