@import "./styles/main.scss";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0a4886;
}




/* Browsers (Default styles for desktop) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Add browser-specific styles here */
}

/* iPads and Tablets */
@media only screen and (min-width: 1025px) {
    /* Add tablet-specific styles here */
}

//HEADER STYLES ------------------------------->

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 12%;
    margin-right: 14%;
    padding-bottom: 8px;
    height: 16vh;
    min-height: 130px;
    width: 75%;
    // border: #000000 solid;
    // background-color: blue;
    // cursor: url("https://media.tenor.com/0vtYbnbaThIAAAAi/abiera-travel.gif"), auto;
}


#header-pic1 {
    margin-left: 90px;
    height: 100%;
    margin-top: 2%;
    min-width: 100px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    font-weight: 100;
    margin-top: 8%;
    color: rgb(118, 216, 159);
    // border: #000000 solid;
    // background-color: #736ab8;
}

// #header-pic2 {
//     height: 80%;
//     margin-top: 1%;
//     padding-top: 2%;
//     // margin-right: 1%;
//     // background-color: burlywood;
//     // border: #000000 solid;
// }


#header-pic3 {
    height: 100%;
    padding-top: 1.5%;
    margin-right: 1%;
    // padding-right: 7%;
    // background-color: cadetblue;
    // border: #000000 solid;
}

.linkedIn {
    height: 22vh;
    padding-top: 9%;
    margin-right: 2%;
    color:  #2363d1;
    // background-color: aquamarine;
}

.github {
    padding-top: 9%;
    // margin-right: 4%;
    padding-right: 3%;
    color:  #5f32b3;
    // background-color: aquamarine;
}

//POP-UP STYLES ----------------------------------->

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
    min-width: 300px;
    border:  rgb(118, 216, 159) solid 3px;
    // background-color: orange;
    
}

h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-right: 20px;
    // background-color: pink;
}

#popup-ul {
    padding-left: 70px;
    padding-right: 70px;
    // margin-right: 10%;
    text-align: center;
    // background-color: #5f32b3;

  }

//HOVER TOOLTIP STYLES-------------------------------->

.hover-wrapper {
    display: flex;
    flex-direction: column;
    width: 10%;
    width:22vw;
    padding: 12px;
    padding-top: 20px;
    background-color: lavenderblush;
    // border: #3f0ba8 solid 5px;
    margin-right: 1%;
}

.flag {
    width: 19%;
    padding-left: 40%;
}
.hover-h1 {
    display: flex;
    justify-content: center;
    // background-color: cadetblue;

}

.summary {
    font-family: 'Montserrat', sans-serif;
    // background-color: brown;

}
  
// DATA CARDS ----------------------------------------->
#data-card-body { //box for all the data cards
    display: flex;
    justify-content:flex-start;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 12px;
    min-width: 84%;
    // border: #000000 solid;
}

.wrapper { // each individual data card
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    min-width: 200px;
    padding: 12px;
    padding-top: 20px;
    background-color: lavenderblush;
    border: #3f0ba8 solid 5px;
    margin-right: 1%;
    height: 320px;
    // padding-right: 3%;

    #data-card-h1 { 
        text-align: center;
        width: 18vw;
        width: 300px;
        position: relative;
        font-family: 'Edu SA Beginner', cursive;
        font-weight: 300;
        font-size: 1.7em;
        margin: 0 0 20px 0;
        display: flex;
        justify-content: center;
        color: #3f0ba8;
        border-radius: 15%;
        // background-color: rgb(243, 239, 185);
        // border-bottom: 3px solid rgb(216, 16, 173);
        // border: #5f32b3 solid;
    }
}

#data-card-h1-with-link {
    width: 18vw;
    position: relative;
    font-family: 'Edu SA Beginner', cursive;
    color: #3f0ba8;
    font-weight: 300;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    border-radius: 15%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 40px;
    min-width: 100%;
    // border-right: #000000 solid 2px;
    // margin-left: 10px;
    // padding-right: 4%;
    // background-color: rgb(29, 10, 91);
    // background-color: rgb(56, 29, 92);
    
    label {
        // color: #3f0ba8;
        color: #666;
        font-family: 'Montserrat', sans-serif;
        flex-grow: 1;
        padding-left: 2px;
    }

    span {
        display: flex;
        justify-content: flex-end;
        color: rgb(7, 177, 7);
        font-size: 14px;
        font-family: 'Victor Mono', monospace;
        padding-right: 10px;
        // background-color: aqua;

    }

}

#pin {
    // background-color: #5f32b3;
    width: 40%;
    height: 10%;
    // margin-left: 30%;
    border-radius: 5%;
    font-family:'Raleway', sans-serif; 
    font-size:medium;
    border-color: #5f32b3;
    margin-top: 20px;
}

// #remove-pin 

// SAVED DATA CARDS ------------------->

// .body-saved {
//     display: flex;
//     justify-content:flex-start;
//     margin-left: 8%;
//     margin-right: 8%;
//     padding-top: 12px;
//     // border: #000000 solid;
// }




// CLEAR ALL DATA CARDS BTN-----------
.hide {
    display: none;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(63, 200, 111);
    border-radius: 5px;
    border: rgb(30, 7, 157) solid 3px;
    height: 7vh;
    width: 16vw;
    min-width: 200px;
    margin-left: 41%;
    margin-top: 10px;
    background-color: rgb(85, 89, 210);
    font-size: x-large;
    font-family:'Edu SA Beginner', cursive;
}

