@import "./styles/main.scss";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // border: #050505 solid;
    background-color: #0a4886;
    // cursor: url(""), auto;
    // cursor: none;
    // cursor: url('assets/plane-cursor-img.gif'),auto;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 8px;
    height: 16vh;
    // border: #000000 solid;
    // background-color: blue;
    // cursor: url("https://media.tenor.com/0vtYbnbaThIAAAAi/abiera-travel.gif"), auto;
}


#header-pic1 {
    padding-left: 2%;
    padding-top: 8px;
    // border: #000000 solid;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80%;
    // font-family:  'Raleway', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6vw;
    font-weight: 100;
    margin-left: 6%;
    // padding-right: 3%;
    color: rgb(118, 216, 159);
    
    // border: #000000 solid;
    // background-color: #736ab8;
}

#header-pic2 {
    height: 80%;
    // margin-: 2%;
    padding-top: 2%;
    // background-color: burlywood;
    // border: #000000 solid;
}
// #header-pic3 {
//     height: 80%;
//     padding-left: 2%;
//     padding-top: 2%;
//     margin-bottom: 4%;
//     // border: #000000 solid;
// }

#header-pic3 {
    height: 100%;
    // padding-left: 2%;
    padding-top: 1%;
    // background-color: cadetblue;
    // border: #000000 solid;
}

.linkedIn {
    height: 22vh;
    padding-top: 8%;
    padding-left: 2%;
    color:  #2363d1;
    // background-color: aquamarine;
}

.github {
    padding-top: 8%;
    padding-left: 2%;
    color:  #5f32b3;
    // background-color: aquamarine;
}

//POP-UP STYLES ----------------------------------->

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  h2 {
    display: flex;
    justify-content: center;
    padding-right: 20px;
  }





//HOVER TOOLTIP STYLES-------------------------------->
// .hover-H1 {

// }

.summary {
    font-family: 'Montserrat', sans-serif;;

}
  
// DATA CARDS ----------------------------------------->

li {
    display: flex;
    justify-content: space-between;
    // border: #bf1313 solid;
}

.wrapper {
    width: 18vw;
    padding: 12px;
    padding-top: 20px;
    background-color: lavenderblush;
    border: #3f0ba8 solid 3px;
    // margin-right: 3%;
    // padding-right: 3%;

    #data-card-h1 {
        width: 18vw;
        position: relative;
        font-family: 'Edu SA Beginner', cursive;
        font-weight: 300;
        margin: 0 0 20px 0;
        display: flex;
        justify-content: center;
        color: #3f0ba8;
        border-radius: 15%;
        // background-color: rgb(243, 239, 185);
        // border-bottom: 3px solid rgb(216, 16, 173);
        // border: #5f32b3 solid;
    }
}


#data-card-h1-with-link {
    width: 18vw;
    position: relative;
    font-family: 'Edu SA Beginner', cursive;
    color: #3f0ba8;
    font-weight: 300;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    border-radius: 15%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 40px;
    // width: 100%;
    // border-right: #000000 solid 2px;
    // margin-left: 10px;
    // padding-right: 4%;
    // background-color: rgb(29, 10, 91);
    // background-color: rgb(56, 29, 92);
    
    label {
        // color: #3f0ba8;
        color: #666;
        font-family: 'Montserrat', sans-serif;
        flex-grow: 1;
        padding-left: 2px;
    }

    span {
        display: flex;
        justify-content: flex-end;
        color: rgb(7, 177, 7);
        font-size: 14px;
        font-family: 'Victor Mono', monospace;
        padding-right: 10px;
        // font-family: sans-serif;
        // font-weight: 400;
        // background-color: aqua;

    }
}

#body {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
  
    // border: #000000 solid;
    // width: 90%;
}


// CLEAR ALL DATA CARDS BTN-----------
.hide {
    display: none;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(63, 200, 111);
    border-radius: 5px;
    border: rgb(30, 7, 157) solid 3px;
    height: 7vh;
    width: 14vw;
    margin-left: 45%;
    background-color: rgb(85, 89, 210);
    font-size: x-large;
    font-family:'Edu SA Beginner', cursive;
}

